storage_hostname: 'storage-server-hostname'
zpool_name: 'pool'
# any volumes to be exported from the storage server
nfs_exports: |
  /tank/path/to/share	       *(rw,sync,no_subtree_check,all_squash,anonuid={{ admin_user_id }},anongid={{ admin_group_id }})
 